  <%- include('includes/header') %>
  <!-- include the header above -->
  
  <div class="container py-md-5 container--narrow">

    <%- include('includes/flash') %>

    <div class="text-center">
      <h2>Hello <strong><%= user.username %></strong>, How are you doing?</h2>
      <p class="lead text-muted">Go ahead, Create a new post to share your stories.<br>(Psst.. You can use Markdown to format your post.)<br> To view all your previous posts tap on your Roboavtar.</p>
    </div>  
  </div>
  
  <!-- include footer bettom -->
  <%- include('includes/footer') %>